*{
	margin:0;
	padding:0;
}
.page{
	margin:0 auto;
	width:995px;
}
ul{
	list-style:none;
	width:100%;
	height:40px;
	background:#000 url(images/bg-nav.gif) top left repeat-x;
}
ul li{
	float:left;
	border-right:1px solid #333;
}
ul li a{
	display:block;
	height:40px;
	padding:0 35px;
	float:left;
	text-transform: uppercase;
	font:70%/40px Helvetica,"microsoft sans serif",arial,sans-serif;
	color:#fff;
	text-decoration:none;
	text-align:center;
}
ul li a:hover,
ul li.active a{
	background:url(images/bg-button.gif) top left repeat-x;
}